<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="Dinero"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment2_PROG7313"
        tools:targetApi="31">
        <activity
            android:name=".activity_calculator"
            android:exported="false" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="true" />
        <activity
            android:name=".Goals"
            android:exported="false" />
        <activity
            android:name=".WalletActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ExpenseView"
            android:exported="false" />
        <activity
            android:name=".ExpenseActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryView"
            android:exported="true" />
        <activity
            android:name=".BudgetHomePageActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>